body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  padding-top: 2em;
}

footer {
  padding-bottom: 0.5em;
}

/* #logo {
  border-radius: 3px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, .2), 0 1px 3px rgba(0, 0, 0, .5);
} */

label, a, input[type="text"], small, footer, div.select-wrapper * {
  user-select: none !important;
}

label, label.active, small, footer, input[type="text"] {
  cursor: default !important;
}

#input-btn-dropdown {
  min-width: 240px;
}